export PICO_SDK_PATH=$(realpath ./pico-sdk/)
export CC=$(which gcc)
export CXX=$(which g++)
export picotool_DIR=$(realpath ./picotool/build/)
if [ -x ./picotool/build/picotool ]; then
  picotool() {
    "$(realpath ./picotool/build/picotool)" "$@"
  }
fi

# git submodule picotool conflicts with command picotool
if [ -n "$ZSH_VERSION" ]; then
  if [[ -o AUTO_CD ]]; then
    echo "Disaabling AUTO_CD"
    unsetopt AUTO_CD
  fi
fi


