export PICO_SDK_PATH=$(realpath ./pico-sdk/)
export CC=$(which gcc)
export CXX=$(which g++)
export picotool_DIR=$(realpath ./pico-tool/build/)
export PICOTOOL_OVERRIDE_DIR=$(realpath ./pico-tool/)
export PATH="$picotool_DIR:$PATH"
export PATH="$(realpath ./arm-gnu-toolchain/arm-gnu-toolchain-14.2.rel1-x86_64-arm-none-eabi/bin):$PATH"
